.text-center {
    text-align: center;
}

.instruction {
    font-size: 20px;
}

#button_back {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 10px;
}

#loading_indicator {
    position: fixed;
    left: 0px;
    top: 25px;
    width: 100%;
    z-index: 1999;
}

#loading_indicator_content {
    width: 256px;
    margin: auto;
}

.loading_indicator_hidden {
    display: none;
}

.label {
    font-size: 20px;
    font-weight: bold;
}

.input {
    width: 90%;
    padding: 10px;
    margin: 5px 0px;
    font-size: 20px;
    display: block;
}

.btn {
    width: 100%;
    margin: 5px 0px;
    padding: 15px;
    font-size: 25px;
}

.btn-default {
    background: #efefef;
    border: 1px solid grey;
    color: black;
    border-radius: 5px;
}

#checkInResult {
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    color: white;
    font-size: 35px;
}

#checkInResult .smaller {
    font-size: 30px;
}

.checkInResult_ok {
    background: green;
}

.checkInResult_nok {
    background: red;
}

.checkInResult_unsure {
    background: orange;
}

.checkInStatus {
    text-transform: uppercase;
    font-weight: bold;
}

.bookingMessage {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 20px;
}

.smaller {
    font-size: 0.7em;
}

.much-smaller {
    font-size: 0.6em;
}

hr {
    border: 0;
    height: 1px;
    background: #EFEFEF;
}

#counter {
    text-align: center;
}