<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>QR Check-in</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div id="container" style="visibility: hidden">
        <div class="text-center">
            <h1 id="app_title" class="text-center">QR Check-in</h1>
            <button id="button_back" onclick="app.closePage()">Close</button>
        </div>
        <div id="home_content">

        </div>
        <div id="nav">
            <button class="btn btn-default" onclick="app.showPage('scan')">Scan</button>
            <button class="btn btn-default" onclick="app.showPage('search')">Search</button>
            <button class="btn btn-default" onclick="app.showPage('selectEvent')">Select event</button>
            <button class="btn btn-default" onclick="app.showPage('settings')">Settings</button>
        </div>
        <div id="page_scan">
            <h1 class="text-center">Scan</h1>
            <div id="page_scan_content">

            </div>
        </div>
        <div id="page_search">
            <h1 class="text-center">Search</h1>
            <div id="page_search_content">

            </div>
        </div>
        <div id="page_selectEvent">
            <h1 class="text-center">Select event</h1>
            <div id="page_selectEvent_content">

            </div>
        </div>
        <div id="loading_indicator" class="loading_indicator_hidden">
            <div id="loading_indicator_content">
                <img src="img/spinner.gif" alt="Loading" />
            </div>
        </div>
        <div id="page_settings">
            <h1 class="text-center">Settings</h1>
            <button class="btn btn-default" onclick="app.scanSettings()">Read settings (QR)</button>
            <p class="label">Server URL</p>
            <input type="text" id="input_serverUrl" class="input" />
            <p class="label">API key</p>
            <input type="text" id="input_key" class="input" />
            <button class="btn btn-default" onclick="app.saveSettings()">Save</button>
        </div>
    </div>
    <script id="template_page_search" type="x-tmpl-mustache">
        <p class="instruction text-center">{{eventName}}</p>
        <input type="text" id="input_keyword" class="input">
        <div id="search_results"></div>
    </script>
    <script id="template_search_results" type="x-tmpl-mustache">
        {{#results}}
            <button class="btn btn-default" onclick="app.manualCheckIn('{{id}}', '{{barcode}}')">
                T{{id}}/{{firstName}} {{lastName}}<br />
                <span class="smaller">B{{booking.id}}/{{booking.firstName}} {{booking.lastName}}</span>
            </button>
        {{/results}}
    </script>
    <script id="template_page_scan" type="x-tmpl-mustache">
        <p class="instruction text-center">{{eventName}}</p>
        <button class="btn btn-default" onclick="app.scanNext()">SCAN NEXT</button>
        {{#eventStats}}
            <p id="counter">{{checkedInTickets}}/{{bookedTickets}}</p>
        {{/eventStats}}
        {{#checkInResult}}
            <div id="checkInResult" class="checkInResult_{{status}}">
                <span class="checkInStatus">{{statusMessage}}</span>
                {{#showDetails}}
                    <div class="smaller">
                        <hr>
                        T{{id}}/{{firstName}} {{lastName}}<br />
                        {{categoryName}} ({{price}} EUR)
                        <hr>
                        <span class="much-smaller">B{{booking.id}}/{{booking.firstName}} {{booking.lastName}}</span>
                    </div>
                {{/showDetails}}
            </div>
            {{#messages.length}}
                <h2 class="text-center">Messages</h2>
            {{/messages.length}}
            {{#messages}}
                <p class="bookingMessage"><strong>{{auditInfo.created}}, {{auditInfo.createdBy}} wrote</strong><br />{{content}}</p>
            {{/messages}}
        {{/checkInResult}}
    </script>
    <script id="template_list_events" type="x-tmpl-mustache">
        <p class="instruction text-center">Select an event to work with</p>
        {{#events}}
            <button class="btn btn-default" onclick="app.selectEvent('{{id}}')">{{name}}</button>
        {{/events}}
    </script>
    <script id="template_home" type="x-tmpl-mustache">
        {{#selectedEvent}}
            <p class="instruction text-center">{{name}}</p>
        {{/selectedEvent}}
    </script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/mustache.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>

</html>